@model IEnumerable<Presentation.Models.fraiVM>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_frais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTreat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetRemb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusFrais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uneExp_id_Exp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_frais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTreat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NetRemb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusFrais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uneExp_id_Exp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
